@page "/"

<AuthorizeView>
    <Authorized>
        <h1>欢迎，祖国的栋梁！</h1>
        <p>请点击功能栏以选择你想使用的功能</p>
    </Authorized>
    <NotAuthorized>
        <h1>欢迎来到上汽大众备件管理系统（模型版）</h1>
        <p>本网站为上海交大学生的毕设作品，仅为备件管理系统的一个展示模型</p>
        <p>要想使用本系统，请先点击右上角的 注册 或 登录</p>
    </NotAuthorized>
</AuthorizeView>