@using Data
@using Models

    <div style="margin-top:15px">
        <BSCard CardType="CardType.Columns">
            @foreach (ModeCount mode in ModeCounts)
            {
                <BSCard Color="Color.Secondary" IsOutline="true" @onclick="e=>ClickItem(mode.FailureMode)">
                    <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="@mode.location" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">@mode.FailureMode</BSCard>
                        <BSCard CardType="CardType.Text">
                            已完成记录：@mode.finishedCount
                            总记录数目：@mode.totalCount
                        </BSCard>
                    </BSCard>
                </BSCard>
            }
        </BSCard>
    </div>

<RecordSummary2  @ref="modeSummary" failureMode="@selectedMode" 
                TimeByMode="TimeByMode" CountByMode="CountByMode"/>

@code {
    List<ModeCount> ModeCounts = SqlServerCtl.GetRecordModeCount();
    RecordSummary2 modeSummary;
    string selectedMode;
    public Dictionary<string, int> TimeByMode;
    public Dictionary<string, int> CountByMode;
    void ClickItem(string mode)
    {
        this.selectedMode = mode;
        TimeByMode = SqlServerCtl.GetStationTimeSumByMode(mode);
        CountByMode = SqlServerCtl.GetStationCountByMode(mode);
        modeSummary.Show();
    }
}
